Repository Com2Kube/Com2Kube, pull requests merged in 2020-03, with the labels that each got.

#53 New File Download route
  backend/app.js
  backend/package.json
  backend/routes/download.js
  backend/test/Api-validation.postman_collection.json
Labels: Backend, New Feature

#54 Privacy mgs
  frontend/.eslintrc
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/App.js
  frontend/src/assets/data/footer.json
  frontend/src/assets/images/claire.png
  frontend/src/assets/images/faq.svg
  frontend/src/assets/images/gabriel.png
  frontend/src/assets/images/solution.svg
  frontend/src/components/file-download.jsx
  frontend/src/components/file-upload.jsx
  frontend/src/pages/about.jsx
  frontend/src/pages/about/about.jsx
  frontend/src/pages/about/style.js
  frontend/src/pages/index.jsx
  frontend/src/pages/privacy.jsx
  frontend/src/pages/terms-conditions.jsx
  frontend/src/themes/footer-backup.jsx
  frontend/src/themes/footer.jsx
  frontend/src/themes/footer/footer.jsx
  frontend/src/themes/footer/style.js
  frontend/src/themes/header/header.jsx
  frontend/src/themes/header/style.js
Labels: Frontend, New Feature, bug

#55 Added GA to new features
  frontend/src/components/file-download.jsx
  frontend/src/components/file-sample.jsx
  frontend/src/components/file-upload.jsx
Labels: Frontend, New Feature

#56 fix compose call
  CHANGELOG.md
  frontend/src/components/file-download.jsx
  frontend/src/components/file-upload.jsx
Labels: Frontend, bug, documentation

#60 Prod optimisation
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/app.js
  backend/package-lock.json
  backend/package.json
  frontend/Dockerfile.prod
Labels: Backend, Optimization

#63 News fix 2
  azure-pipelines.yml
  frontend/src/pages/news.jsx
  frontend/src/themes/header/style.js
Labels: Frontend, Optimization
