Repository Com2Kube/Com2Kube, pull requests merged in 2020-01, with the labels that each got.

#22 File Size validation
  backend/routes/compose.js
Labels: Backend, New Feature

#23 Backend unit tests
  .github/workflows/backend-checks.yml
  backend/package-lock.json
  backend/package.json
  backend/test/Api-validation.postman_collection.json
  backend/test/docker-compose.yml
Labels: Backend, Testing

#25 [Merge first] Show result in yml format to user
  README.md
  backend/routes/compose.js
  backend/test/Api-validation.postman_collection.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/file-upload.jsx
  frontend/src/pages/not-found.jsx
  frontend/src/themes/header.jsx
Labels: Backend, New Feature

#32 update documentation -merge after
  CHANGELOG.md
  CODE-OF-CONDUCT.md
Labels: documentation

#29 Update name org
  .github/workflows/docker-checks.yml
  CONTRIBUTING.md
  README.md
  backend/Dockerfile.prod
  backend/package.json
  backend/test/docker-compose.yml
  docker-compose-prod.yml
  docker-compose.yml
  frontend/Dockerfile.prod
  frontend/README.md
  frontend/nginx-prod.conf
  frontend/public/index.html
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/logo.png
  frontend/src/App.js
  frontend/src/assets/images/logo_transparent.png
  frontend/src/components/about.jsx
  frontend/src/components/file-upload.jsx
  frontend/src/index.css
  frontend/src/pages/about.jsx
  frontend/src/pages/index.jsx
  frontend/src/themes/footer.jsx
  frontend/src/themes/header.jsx
  nginx/nginx-https.conf
  nginx/nginx-proxy.conf
Labels: Frontend, documentation

#34 Fixed the name of the org
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/pages/index.jsx
  frontend/src/themes/header/header.jsx
  frontend/src/themes/header/style.js
Labels: Frontend, bug

#37 Sample file
  backend/app.js
  backend/public/docker-compose.yml
  backend/routes/compose.js
  backend/routes/sample.js
  frontend/.eslintrc
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/components/file-sample.jsx
  frontend/src/pages/index.jsx
Labels: Backend, Frontend, New Feature

#41 Correction de la langue
  frontend/public/locales/en/translation.json
  frontend/public/locales/fr/translation.json
  frontend/src/themes/header/header.jsx
Labels: Frontend, bug

#42 Added a link to home for the logo
  frontend/src/themes/header/header.jsx
Labels: Frontend, bug
